.CompactPost:hover {
  cursor: pointer;
}

.CompactPost-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CompactPost-Modal-outside-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CompactPost-Modal-inside-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.CompactPost-FullPost-image-div {
  display: inline-block;
  width: 500px;
  height: 500px;
}

.CompactPost-FullPost-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.CompactPost-FullPost-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
}

.CompactPost-FullPost-info-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.CompactPost-FullPost-info-header-avatar {
  margin: 20px;
  width: 35px !important;
  height: 35px !important;
}

.CompactPost-FullPost-info-header-username {
  font-family: "Raleway";
  margin-top: 30px;
  font-size: 15px;
}
