@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-header {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

.Profile-avatar {
  padding: 60px;
  border-radius: 50%;
  width: 150px;
}

.Profile-info {
  display: flex;
  flex-direction: column;
  padding: 65px 60px 0px 40px;
}

.Profile-info-first-row {
  display: flex;
  flex-direction: row;
}

.Profile-info-other-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.Profile-info-last-row {
  display: flex;
  flex-direction: row;
}

.Profile-info-username {
  margin-right: 20px;
  font-family: "Quicksand";
  font-size: 30px;
}

.Profile-info-button {
  margin-right: 10px !important;
  text-transform: none !important;
  font-family: "Raleway" !important;
  font-size: 13px !important;
  min-width: unset !important;
  min-height: unset !important;
  padding: 5px 10px !important;
  color: rgb(54, 54, 54) !important;
  border: solid 1px lightgray !important;
  border-radius: 5px !important;
}

.Profile-info-text {
  margin-right: 20px;
  font-family: "Quicksand";
}

.Profile-posts {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Profile-posts-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-row-gap: 1%;
  grid-column-gap: 1%;
}

.Profile-footer {
  width: 100%;
  margin-top: 40px;
}
